<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./parts/head') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>
<style>
    body {
      background-image: url('<%= settings.background %>');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
   <body style="background-color: #1b1c1d;" background="<%= settings.background %>"; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;>
    <%- include('./parts/nav') %>
    <%- include('./parts/alert') %>
    <br>
    <center>
      <h2 style="color: white; text-align: start;">| Shop</h2>
      <h5 style="color: white; text-align: start;">Secured with Stripe</h5><br>
    <br>

</center>
</body>
<footer>
</footer>
</html>