<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
</head>
<style>
    body {
      background-image: url('<%= settings.background %>');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
   <body style="background-color: #1b1c1d;" background="<%= settings.background %>"; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;>
    <%- include('./components/nav') %>
    <br>
    <center>
    <h3 style="color:white">Redeem A Coupon</h3>
    <br>
    <%- include('./components/coupon') %>
    </center>
    <br>
    
</body>
<footer>
  <%- include('./components/footer') %>
</footer>
</html>