<%- include('./parts/head') %>
    <!-- Vector CSS -->
    <link href="../../../assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet"/>
    <!-- simplebar CSS-->
    <link href="../../../assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <!-- Bootstrap core CSS-->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- animate CSS-->
    <link href="../../../assets/css/animate.css" rel="stylesheet" type="text/css"/>
    <!-- Icons CSS-->
    <link href="../../../assets/css/icons.css" rel="stylesheet" type="text/css"/>
    <!-- Sidebar CSS-->
    <link href="../../../assets/css/sidebar-menu.css" rel="stylesheet"/>
    <!-- Custom Style-->
    <link href="../../../assets/css/app-style.css" rel="stylesheet"/>
<style>
    body {
      background-image: url('<%= settings.background %>');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
   <body style="background-color: #1b1c1d;" background="<%= settings.background %>"; background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;>
    <%- include('./parts/sidebar') %>
    <%- include('./parts/topnav') %>
    <br>
    <div class="clearfix"></div>
	
    <div class="content-wrapper">
      <div class="container-fluid">
    <center>
    <div style="font-size: large; width: 90%; align-self: center; background-color: #1b1c1d; border-radius: 15px; border-color: aquamarine; border-width: 10px;">
        <h2 style="color: white;"><%= settings.name %>'s Terms Of Service</h2>
        <br>
        <p style="justify-content: center; color:white; align-self: center;">
            Terms of Service Agreement

This Terms of Service Agreement is entered into between <%= settings.name %> and the user accessing and using the Company's website or services. By accessing or using the Services, User agrees to be bound by the terms and conditions set forth in this Agreement.<br>

Acceptance of Terms. User acknowledges and agrees that by accessing or using the Services, User is indicating their acceptance of this Agreement, and User agrees to comply with all applicable laws and regulations.<br>

Use of Services. User agrees to use the Services only for lawful purposes and in compliance with this Agreement. User shall not use the Services for any illegal, unauthorized, or improper purposes, including but not limited to:

Uploading, posting, or transmitting any content that is unlawful, harmful, threatening, abusive, harassing, defamatory, obscene, vulgar, invasive of another's privacy, or otherwise objectionable.
Engaging in any activity that disrupts, interferes with, or harms the operation of the Services or the Company's systems.
Attempting to gain unauthorized access to any part of the Services or any other systems or networks connected to the Services.
Using any automated means, such as bots or scripts, to access or interact with the Services, unless authorized by the Company.<br>
Intellectual Property. User acknowledges that all content and materials available on or through the Services, including but not limited to text, graphics, logos, icons, images, audio clips, video clips, data compilations, and software, are the property of the Company or its licensors and are protected by intellectual property laws. User agrees not to reproduce, modify, distribute, display, or otherwise use any content or materials from the Services without the prior written consent of the Company.<br>

Privacy. The Company's privacy policy, available on the Services, governs the collection, use, and disclosure of User's personal information. User agrees to the terms of the privacy policy and consents to the collection, use, and disclosure of their personal information in accordance with the privacy policy.<br>

Indemnification. User agrees to indemnify, defend, and hold harmless the Company and its officers, directors, employees, agents, and affiliates from and against any and all claims, damages, losses, liabilities, and expenses arising out of or related to User's access or use of the Services, User's violation of this Agreement, or User's infringement of any third-party rights.<br>

Disclaimers. THE SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE," WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. THE COMPANY DISCLAIMS ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, AND ACCURACY. THE COMPANY DOES NOT WARRANT THAT THE SERVICES WILL BE UNINTERRUPTED, ERROR-FREE, OR SECURE, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED.<br>

Limitation of Liability. TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE COMPANY SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE SERVICES, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES, EVEN IF THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.<br>

Termination. The Company may terminate or suspend User's access to the Services at any time for any reason, without notice. User may terminate this Agreement by discontinuing their use of the Services. Upon termination, User's right to access and use the Services shall cease.
        </p>
    </div>
</center>
<center>
    <div style="font-size: large; width: 90%; align-self: center; background-color: #1b1c1dc5; border-radius: 15px; border-color: aquamarine; border-width: 10px;">
        <h2 style="color: white;">Hola Client's Terms Of Service</h2>
        <br>
            <h3 style="justify-content: center; color:white; align-self: center;">Terms of Service Agreement for MIT Licensed Software</h3><br>
            <p style="justify-content: center; color:white; align-self: center;">
This Terms of Service Agreement is entered into between Hola LLC and the host accessing and using the software Hola Client licensed under the MIT License.
By accessing or using the Software, User agrees to be bound by the terms and conditions set forth in this Agreement.<br><br>
<ul style="color: white;" type="square">
<li>License Grant. The Company hereby grants User a non-exclusive, non-transferable, revocable license to use, modify, and distribute the Software in accordance with the terms and conditions of the License.</li><br>
<li>Permitted Use. User may use the Software for any lawful purpose, including but not limited to developing, testing, and deploying applications. User may also modify the Software to suit their needs, subject to the terms of the License.</li><br>

<li>No Warranty. THE SOFTWARE IS PROVIDED "AS IS" AND "AS AVAILABLE," WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. THE COMPANY DISCLAIMS ALL WARRANTIES, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, AND ACCURACY. THE COMPANY DOES NOT WARRANT THAT THE SOFTWARE WILL BE UNINTERRUPTED, ERROR-FREE, OR SECURE, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED.</li><br>

<li>Termination. This Agreement shall remain in effect until terminated by either party. The Company may terminate this Agreement and the License at any time for any reason, without notice. Upon termination, User's right to use the Software shall cease, and User shall immediately cease all use, distribution, and modification of the Software.</li><br>

<li>Governing Law. This Agreement shall be governed by and construed in accordance with the laws of [Jurisdiction]. Any dispute arising out of or related to this Agreement or the Software shall be resolved exclusively by the courts of Jurisdiction.</li><br>

<li>Entire Agreement. This Agreement constitutes the entire understanding between the parties with respect to the subject matter hereof and supersedes all prior or contemporaneous understandings, whether written or oral. This Agreement may not be modified, amended, or waived, except in writing signed by both parties.</li><br>

<li>Severability. If any provision of this Agreement is found to be unenforceable or invalid, such provision shall be limited or eliminated to the minimum extent necessary so that this Agreement shall otherwise remain in full force and effect.</li><br>
<br><br>
By accessing or using the Software, User acknowledges that they have read, understood, and agreed to the terms and conditions of this Agreement and the License.
</ul>        
</p>
    </div>
</center>
  	<!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->
<!--start color switcher-->
<div class="right-sidebar">
  <div style="background-color: rgba(0,0,0,.2);" class="switcher-icon">
    <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
  </div>
  <div class="right-sidebar-content">

    <p class="mb-0">Gaussion Texture</p>
    <hr>
    
    <ul class="switcher">
      <li id="theme1"></li>
      <li id="theme2"></li>
      <li id="theme3"></li>
      <li id="theme4"></li>
      <li id="theme5"></li>
      <li id="theme6"></li>
    </ul>

    <p class="mb-0">Gradient Background</p>
    <hr>
    
    <ul class="switcher">
      <li id="theme7"></li>
      <li id="theme8"></li>
      <li id="theme9"></li>
      <li id="theme10"></li>
      <li id="theme11"></li>
      <li id="theme12"></li>
          <li id="theme13"></li>
      <li id="theme14"></li>
      <li id="theme15"></li>
    </ul>
    
   </div>
 </div>
<!--end color switcher-->
  <!-- Bootstrap core JavaScript-->
  <script src="../../../assets/js/jquery.min.js"></script>
  <script src="../../../assets/js/popper.min.js"></script>
  <script src="../../../assets/js/bootstrap.min.js"></script>
  
 <!-- simplebar js -->
  <script src="../../../assets/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="../../../assets/js/sidebar-menu.js"></script>
  <!-- loader scripts -->
  <script src="../../../assets/js/jquery.loading-indicator.js"></script>
  <!-- Custom scripts -->
  <script src="../../../assets/js/app-script.js"></script>
  <!-- Chart js -->
  
  <script src="../../../assets/plugins/Chart.js/Chart.min.js"></script>
 
  <!-- Index js -->
  <script src="../../../assets/js/index.js"></script>